<div class="deleteProduct">
<%- include("../partials/head", {view : "Eliminar productos"}) %>

<div class="container mt-5">
  <div class="card product-delete-card">
    <div class="card-header">
      <h5 class="card-title">Eliminación de Producto</h5>
    </div>
    <div class="card-body">
      <p class="card-text">¿Estás seguro de querer eliminar el producto: <strong><%= name %></strong>?</p>
      <form action="/admin/eliminar-producto/<%= id %>?_method=DELETE" method="post" class="d-flex justify-content-around">
        <button type="submit" class="btn btn-delete">Eliminar</button>
        <a href="/admin/productos" class="btn btn-cancel">Cancelar</a>
      </form>
    </div>
  </div>
</div>
</div>
